
@{
    ViewBag.Title = "Tests";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}



<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Tests","Teacher")">Тестове</a></li>
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group">
          @using (Ajax.BeginForm("CreateTest", new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "createTestRedirection"}))
          {
            @Html.AntiForgeryToken()
         
            <button class="btn btn-success" type= "submit"><i class="material-icons md-12">add</i>&nbsp; Създай тест</button>
          }

        </div>
    </li>
</ol>
<div class="card-deck" style="max-width: 70rem;margin: 0 auto;" data-bind="foreach: tests">

    <div class="card card-3" data-bind="click: $parent.gotoUrl" style="cursor: pointer">
        <div class="card-body">
            <h4 class="card-title" data-bind="text: testTitle">Контролен тест върху Рационални числа</h4>
            <p class="card-text">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="callout callout-info">
                            <small class="text-muted">Брой ученици</small><br>
                            <strong class="h4" data-bind="text: students">9,123</strong>
                        </div>
                    </div><!--/.col-->
                    <div class="col-sm-6">
                        <div class="callout callout-warning">
                            <small class="text-muted">Средна оценка</small><br>
                            <strong class="h4" data-bind="text: averageMark">49,123</strong>
                        </div>
                    </div><!--/.col-->
                </div>
            </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    </div>

<script src="@Url.Content("~/Scripts/app/teacher/testsViewModel.js")" type="text/javascript"></script>