#questions {
    width: 98%;
    margin: 0 auto;
    margin-top: 20px;
}

@media (min-width: 992px) {
    #questions {
        width: 70%;
    }
}
.input-group .input-group-lg {
    margin: 15px 0;
}
.question {
    margin: 15px 0;
    padding: 15px 0;
  
    background: #f5f6f7;
}
.question .form-group{
    margin: 15px;
}
button.btn.addOption{
    
}

.correct-answer  {
    position: absolute;
    top: 8px;
    right: 45px;
    z-index: 99;
    background: none;
    border: none;
    color: #00000070;
}
    .correct-answer:focus {
        outline: 0;
    }
.option-checked {
    color: #19cd04;
}
.section {
    padding: 5%;
    background-color: #ffffff52;
    margin: 30px 0;
    box-shadow: 0px 0px 13px 0px rgba(173,173,173,1);

}
.points-input {
    width: 65px;
    float: right;
    margin: 0 0 0 15px;
    height: 26px;
}

.right-corder-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
    .right-corder-container .right-corder-container-button {
        height: 62px;
        width: 62px;
        border: none;
        background-color: #6FB583;
        border-radius: 62px; 
        transition: all 300ms;
        box-shadow: 0px 0px 13px 0px rgba(173,173,173,1);
        cursor: pointer;
    }
        .right-corder-container .right-corder-container-button span {
            font-size: 38px;
            color: white;
            position: absolute;
            left: 12px;
            top: 12px;
            line-height: 28px;
        }

        .right-corder-container .right-corder-container-button:hover {
            transition: all 400ms cubic-bezier(.62,.1,.5,1);
            width: 200px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .right-corder-container .right-corder-container-button .long-text {
            transition: opacity 1000ms; 
            opacity: 0;
            color: white;
            white-space: nowrap;
            font-size: 0;
            width: 0; 
            margin: 0; 
        }
            .right-corder-container .right-corder-container-button .long-text.show-long-text {
                transition: opacity 700ms, width 1ms linear 270ms, 
                font-size 1ms linear 270ms; 
                opacity: 1;
                margin-top: 2px; 
                margin-left: 65px; 
                font-size: 20px; 
                width: auto; 
            }

.gt-student-detail {
 
    border-bottom-color: black;
    border-bottom: 1px solid black;
}
    .gt-student-detail h3 {
        font-weight: normal;
        font-size: 16px !important;
        margin-bottom:0 !important;
    }
.gt-q-text {
    font-weight: 500;
    font-size: 19px;
}
.gt-a-text {
    font-size: 14px;
    font-weight: normal;
}
.gt-question{

}
.gt-section {
    padding: 8%;
    background-color: white;
    margin: 30px 0;
    box-shadow: 0px 0px 13px 0px rgba(173,173,173,1);
}
.gt-points{
    padding: 7px;
    color: white;
    width:50px; 
    text-align: center;
    margin-right:0;
    margin-left: auto;
}
.gt-points span{
    font-size: 14px;
}

#results {
    padding: 5%;
    background-color: #ffffff;
    margin: 30px 0;
    box-shadow: 0px 0px 13px 0px rgba(173,173,173,1);
}
